body {
  line-height: 1.4;
  font-weight: bold;
  font-family: sans-serif;
  border: 5px solid black;
}

h2 {
  background-color: rgba(184, 184, 184, 0.15);
  text-align: center;
}

h3 {
  font-size: 23px;
  text-transform: uppercase;
}
a:link {
  color: black;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: square;
}

button {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: solid black 3px;
  background-color: black;
}

button:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 3px solid white;
  background-color: white;
}

.free_shipping {
  text-transform: uppercase;
  color: #505050ad;
}
